@tailwind base;
@tailwind utilities;
@tailwind components;

html {
    font-family: 'Inter', sans-serif;
    background-color: #111;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#mountain img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 50%;
}